* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 100%;
    padding: 1%;
    overflow: hidden;
}

.section::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    background-color: rgb(27, 26, 26);
    color: lightgrey;
    padding: 15px 20px;
    text-align: center;
    flex-wrap: wrap;
    width: 100%; /* fluid */
    color: white;
}

.header img {
    width: 110px;   /* fixed logo */
    margin-right: 20px;
}

.header h4 {
    font-size:xx-large;
    color: white;
}

nav {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(153, 51, 7);
    color: black;
    margin: 1%;
    color: white;
}


.menu-icon {
    display: none;
    width: 30px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}
.nav-list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

.nav-list li {
    display: inline-block;
    padding: 1% 2%;
    margin: 0.5%;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: large;

}

li {
    display: inline-block;
    padding: 1% 2%;
    margin: 0.5%;
}

li a {
    text-decoration: none;
    color: white;
    font-size: large;
}

/* SIDEBAR (fixed width) */
.sidebar {
    float: left;
    width: 250px;  /* FIXED width */
    background-color: white;
    padding: 15px;
    margin: 10px;
  min-height: 60vh;
    border: 1px solid;

}

.sidebar h4 {
    font-size: 1.5vw;
    margin: 10px 0;
}

.sidebar a {
    display: block;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 8px 0;
    
}

/* MAIN (fluid) */
.main {
    float: left;
    width: calc(100% - 290px);
        /* width: calc(101% - 290px); */
 /* fluid = full width minus sidebar */
    background-color: white;
    margin: 10px 0;
    min-height: 60vh;
    padding: 15px;
    border: 1px solid;
}

.main h1 {
    font-size: 1.5rem;
    margin: 15px 0;
}

iframe {
    width: 100%;
    /* height: 60vh; */
        height: 45vh;
    border: none;
    
}

/* FOOTER */
.footer {
    background-color:rgb(27, 26, 26);
    height: 50px;
    margin-top: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    width: 100%; /* fluid */
    color: white;
}

.footer p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    text-align: center;
}
